@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&family=Montserrat:wght@200&family=Mr+Dafoe&family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  text-align: center;
  background-image: url('https://img.freepik.com/free-vector/dark-liquid-wavy-night-background_23-2148400712.jpg?w=740&t=st=1690595185~exp=1690595785~hmac=9e2aaff23a90b201aaf1a647279d4b766681e2f933a5e92dd0865bcfa76ee1cc');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  margin-right: auto;
  width: 100%;
  max-width: 1800px; /* Adjust the value as needed */
}
/*NavBar*/
/* Reset some default styles and apply a background color to the navbar */
.navbar {
  padding: 0;
  margin: 0;
  background-color: #333;
}

/* Set the navbar to flex to align items horizontally */
nav {
  display: flex;
  justify-content: center;
}

/* Style the list items (links) inside the navbar */
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

/* Style the links inside the list items */
NavLink {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

/* Change the background color of the active link */
NavLink.active {
  background-color: #555;
  border-radius: 5px;
}

/* Media query for responsive design - hide the links and show a hamburger menu */
@media screen and (max-width: 768px) {
  ul {
    display: none;
  }

  /* Style the hamburger menu icon */
  .hamburger-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 100;
  }

  /* Style the menu that appears when the hamburger menu is clicked */
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 99;
  }

  .menu a {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
}
