@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&family=Montserrat:wght@200&family=Mr+Dafoe&family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  text-align: center;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/987/748/original/abstract-template-blue-geometric-diagonal-overlap-layer-on-dark-blue-background-free-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  margin-right: auto;
  width: 100%;
  max-width: 1800px; /* Adjust the value as needed */
}

